<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432482231963-qp0m8j4sur6pb8ce5r2lkmp1po9kpd41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432482231963-qp0m8j4sur6pb8ce5r2lkmp1po9kpd41</string>
	<key>API_KEY</key>
	<string>AIzaSyDE4NsUiO_l1sLrkYtYcBOu8zuxckgvyRI</string>
	<key>GCM_SENDER_ID</key>
	<string>432482231963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.payswitch.edeybe.app</string>
	<key>PROJECT_ID</key>
	<string>edeybe-4c31c</string>
	<key>STORAGE_BUCKET</key>
	<string>edeybe-4c31c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432482231963:ios:d24c6f2002f1bc63ab883e</string>
</dict>
</plist>